In [1]:
import pandas as pd
import numpy as np
import glob
from difflib import SequenceMatcher
import re

# Helper functions

In [2]:
def addToPrev(prev, index, text):
    prev[index] = text
    return prev

################################

def inPrev(prev, text, tot_sims):
    for message in prev:
        if SequenceMatcher(None, text, message).ratio() >= 0.7:
            tot_sims.setdefault(message, []).append(text)
            return True, tot_sims
    return False, tot_sims

################################

def reduce_tweets(tweets, reduceBy): 
    prev = [""]*reduceBy
    index = 0
    tot_sims = {}
    filtered_tweets = []
    
    for _tweet in tweets:
        in_prev, tot_sims = inPrev(prev, _tweet, tot_sims)
        if not in_prev:
            prev = addToPrev(prev, index, _tweet)
            index = (index + 1) % reduceBy
            filtered_tweets.append(_tweet)
    
    return filtered_tweets

################################

def check_sim(check_word, sims):
    words = ["mosquito", "protect", "repel", "spray"]
    for word in words:
        ratio = SequenceMatcher(None, check_word, word).ratio()
        if ratio >= 0.7:
            sims[check_word] = ratio
            return True, sims
    return False, sims

################################

def check_sim_v2(check_word, sims):
    if re.compile('m[a-z]+sq[a-z]+to').match(check_word):
        sims.append(check_word)
        return True, sims
    
    words = ['repel', 'protect', 'spray', 
             "proteger", "repeler", "rociar","repelir"]

    for word in words:
        if re.compile(word).search(check_word):
            sims.append(check_word)
            return True, sims
    
    return False, sims

# Stats

In [3]:
path = "/Users/datacsv/*.csv"

In [4]:
temp_df = pd.read_csv("/Users/datacsv/tweets_2015_08_16.csv")
filtered_df = pd.DataFrame(columns=temp_df.columns)
data = {}
regex = re.compile('[^a-zA-Z]')
index = 0
sims = []
for file in glob.glob(path):
    df = pd.read_csv(file)
    df[df == "None"] = np.nan
    df = df.dropna(subset=["City", "State", "Country"], how='all')
    df = df.fillna("")

    #Find number of total tweets in a location
    group_sums = df.groupby(["City", "State", "Country"])["Message"].agg(np.size)
    cities = group_sums.index.get_level_values(0)
    states = group_sums.index.get_level_values(1)
    countries = group_sums.index.get_level_values(2)
    
    for city, state, country in zip(cities, states, countries):
        location = (city, state, country)
        data[location] = data.get(location, {})
        data[location]['num_total'] = data[location].get('num_total', 0)
        data[location]['num_total'] += group_sums.loc[city, state, country]
    
    #Filter tweets, then store in filtered_df
    for i in df.index:
        tweet = df.loc[i]["Message"]
        if tweet[0:2] != "RT":
            for word in tweet.lower().split():
                    isSimilar, sims = check_sim_v2(regex.sub('', word), sims)
                    if(isSimilar):
                        filtered_df.loc[index] = df.loc[i]
                        index += 1
                        break

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
group_sums = filtered_df.groupby(["City", "State", "Country"])["Message"].agg(np.size)
cities = group_sums.index.get_level_values(0)
states = group_sums.index.get_level_values(1)
countries = group_sums.index.get_level_values(2)

for city, state, country in zip(cities, states, countries):
    location = (city, state, country)
    data[location] = data.get(location, {})
    data[location]['filtered_total'] = data[location].get('filtered_total', 0)
    data[location]['filtered_total'] += group_sums.loc[city, state, country]

In [6]:
data

{('', '', 'Afghanistan'): {'num_total': 202, 'filtered_total': 11},
 ('', '', 'Algeria'): {'num_total': 696, 'filtered_total': 9},
 ('', '', 'Argentina'): {'num_total': 51622, 'filtered_total': 2520},
 ('', '', 'Australia'): {'num_total': 17577, 'filtered_total': 959},
 ('', '', 'Bangladesh'): {'num_total': 3247, 'filtered_total': 209},
 ('', '', 'Barbados'): {'num_total': 1985, 'filtered_total': 107},
 ('', '', 'Belize'): {'num_total': 658, 'filtered_total': 33},
 ('', '', 'Bolivia'): {'num_total': 4147, 'filtered_total': 172},
 ('', '', 'Brazil'): {'num_total': 200379, 'filtered_total': 4964},
 ('', '', 'Brunei'): {'num_total': 351, 'filtered_total': 17},
 ('', '', 'Bulgaria'): {'num_total': 589, 'filtered_total': 17},
 ('', '', 'Cambodia'): {'num_total': 396, 'filtered_total': 22},
 ('', '', 'Canada'): {'num_total': 41986, 'filtered_total': 2834},
 ('', '', 'Cayman Islands'): {'num_total': 755, 'filtered_total': 61},
 ('', '', 'Chile'): {'num_total': 30648, 'filtered_total': 2062},
 ('', '', 'Colombia'): {'num_total': 81586, 'filtered_total': 3019},
 ('', '', 'Costa Rica'): {'num_total': 10547, 'filtered_total': 481},
 ('', '', 'Cuba'): {'num_total': 28323, 'filtered_total': 793},
 ('', '', 'Cyprus'): {'num_total': 1055, 'filtered_total': 44},
 ('', '', 'Denmark'): {'num_total': 881, 'filtered_total': 38},
 ('', '', 'Dominican Republic'): {'num_total': 30843, 'filtered_total': 1465},
 ('', '', 'Ecuador'): {'num_total': 24071, 'filtered_total': 890},
 ('', '', 'Egypt'): {'num_total': 3524, 'filtered_total': 232},
 ('', '', 'El Salvador'): {'num_total': 13462, 'filtered_total': 433},
 ('', '', 'Ethiopia'): {'num_total': 453, 'filtered_total': 21},
 ('', '', 'Fiji'): {'num_total': 577, 'filtered_total': 19},
 ('', '', 'Finland'): {'num_total': 2821, 'filtered_total': 121},
 ('', '', 'France'): {'num_total': 31406, 'filtered_total': 356},
 ('', '', 'Germany'): {'num_total': 14296, 'filtered_total': 668},
 ('', '', 'Ghana'): {'num_total': 2880, 'filtered_total': 102},
 ('', '', 'Greece'): {'num_total': 2137, 'filtered_total': 68},
 ('', '', 'Guadeloupe'): {'num_total': 2552, 'filtered_total': 26},
 ('', '', 'Haiti'): {'num_total': 3902, 'filtered_total': 120},
 ('', '', 'Honduras'): {'num_total': 28549, 'filtered_total': 311},
 ('', '', 'Hungary'): {'num_total': 452, 'filtered_total': 16},
 ('', '', 'India'): {'num_total': 52541, 'filtered_total': 3669},
 ('', '', 'Indonesia'): {'num_total': 53979, 'filtered_total': 877},
 ('', '', 'Iraq'): {'num_total': 934, 'filtered_total': 52},
 ('', '', 'Ireland'): {'num_total': 8146, 'filtered_total': 285},
 ('', '', 'Israel'): {'num_total': 1745, 'filtered_total': 89},
 ('', '', 'Italy'): {'num_total': 16320, 'filtered_total': 532},
 ('', '', 'Jamaica'): {'num_total': 16343, 'filtered_total': 1155},
 ('', '', 'Japan'): {'num_total': 8862, 'filtered_total': 308},
 ('', '', 'Kenya'): {'num_total': 9310, 'filtered_total': 599},
 ('', '', 'Latvia'): {'num_total': 403, 'filtered_total': 11},
 ('', '', 'Lebanon'): {'num_total': 1920, 'filtered_total': 89},
 ('', '', 'Lithuania'): {'num_total': 148, 'filtered_total': 3},
 ('', '', 'Macedonia'): {'num_total': 184, 'filtered_total': 3},
 ('', '', 'Madagascar'): {'num_total': 4439, 'filtered_total': 62},
 ('', '', 'Malaysia'): {'num_total': 31738, 'filtered_total': 573},
 ('', '', 'Maldives'): {'num_total': 4487, 'filtered_total': 78},
 ('', '', 'Martinique'): {'num_total': 3279, 'filtered_total': 38},
 ('', '', 'Mexico'): {'num_total': 39693, 'filtered_total': 1580},
 ('', '', 'Montenegro'): {'num_total': 393, 'filtered_total': 3},
 ('', '', 'Morocco'): {'num_total': 635, 'filtered_total': 17},
 ('', '', 'Nepal'): {'num_total': 2984, 'filtered_total': 79},
 ('', '', 'Netherlands'): {'num_total': 17859, 'filtered_total': 420},
 ('', '', 'New Zealand'): {'num_total': 3238, 'filtered_total': 221},
 ('', '', 'Nicaragua'): {'num_total': 11014, 'filtered_total': 305},
 ('', '', 'Nigeria'): {'num_total': 35628, 'filtered_total': 2672},
 ('', '', 'Norway'): {'num_total': 4346, 'filtered_total': 183},
 ('', '', 'Oman'): {'num_total': 498, 'filtered_total': 19},
 ('', '', 'Pakistan'): {'num_total': 11156, 'filtered_total': 930},
 ('', '', 'Panama'): {'num_total': 9838, 'filtered_total': 399},
 ('', '', 'Paraguay'): {'num_total': 10882, 'filtered_total': 272},
 ('', '', 'Peru'): {'num_total': 7712, 'filtered_total': 188},
 ('', '', 'Philippines'): {'num_total': 18613, 'filtered_total': 1117},
 ('', '', 'Poland'): {'num_total': 2279, 'filtered_total': 59},
 ('', '', 'Portugal'): {'num_total': 8220, 'filtered_total': 342},
 ('', '', 'Qatar'): {'num_total': 628, 'filtered_total': 25},
 ('', '', 'Romania'): {'num_total': 1877, 'filtered_total': 34},
 ('', '', 'Russia'): {'num_total': 690, 'filtered_total': 25},
 ('', '', 'Serbia'): {'num_total': 895, 'filtered_total': 20},
 ('', '', 'Somalia'): {'num_total': 315, 'filtered_total': 14},
 ('', '', 'South Africa'): {'num_total': 9043, 'filtered_total': 354},
 ('', '', 'South Korea'): {'num_total': 1163, 'filtered_total': 28},
 ('', '', 'Spain'): {'num_total': 10695, 'filtered_total': 441},
 ('', '', 'Sri Lanka'): {'num_total': 2331, 'filtered_total': 131},
 ('', '', 'St. Lucia'): {'num_total': 788, 'filtered_total': 42},
 ('', '', 'Sweden'): {'num_total': 3845, 'filtered_total': 83},
 ('', '', 'Switzerland'): {'num_total': 4546, 'filtered_total': 147},
 ('', '', 'Taiwan'): {'num_total': 1582, 'filtered_total': 55},
 ('', '', 'Tanzania'): {'num_total': 1922, 'filtered_total': 61},
 ('', '', 'Thailand'): {'num_total': 6640, 'filtered_total': 171},
 ('', '', 'The Bahamas'): {'num_total': 1585, 'filtered_total': 96},
 ('', '', 'The Gambia'): {'num_total': 31, 'filtered_total': 1},
 ('', '', 'Trinidad and Tobago'): {'num_total': 5365, 'filtered_total': 236},
 ('', '', 'Tunisia'): {'num_total': 763, 'filtered_total': 19},
 ('', '', 'Turkey'): {'num_total': 1559, 'filtered_total': 13},
 ('', '', 'Turks and Caicos Islands'): {'num_total': 184, 'filtered_total': 8},
 ('', '', 'United Arab Emirates'): {'num_total': 1354, 'filtered_total': 75},
 ('', '', 'United Kingdom'): {'num_total': 54885, 'filtered_total': 4047},
 ('', '', 'United States'): {'num_total': 282776, 'filtered_total': 23492},
 ('', '', 'Uruguay'): {'num_total': 8266, 'filtered_total': 402},
 ('', '', 'Venezuela'): {'num_total': 318827, 'filtered_total': 9347},
 ('', '', 'Vietnam'): {'num_total': 1767, 'filtered_total': 79},
 ('', '', 'Yemen'): {'num_total': 352, 'filtered_total': 26},
 ('', '', 'Zimbabwe'): {'num_total': 1743, 'filtered_total': 56},
 ('', 'Aceh', 'Indonesia'): {'num_total': 906, 'filtered_total': 33},
 ('', 'Aguascalientes', 'Mexico'): {'num_total': 129, 'filtered_total': 14},
 ('', 'Alabama', 'United States'): {'num_total': 4656, 'filtered_total': 219},
 ('', 'Alaska', 'United States'): {'num_total': 1412, 'filtered_total': 47},
 ('', 'Alberta', 'Canada'): {'num_total': 1827, 'filtered_total': 131},
 ('', 'Andalusia', 'Spain'): {'num_total': 241, 'filtered_total': 13},
 ('', 'Aquitaine', 'France'): {'num_total': 339, 'filtered_total': 1},
 ('', 'Arizona', 'United States'): {'num_total': 12490, 'filtered_total': 998},
 ('', 'Arkansas', 'United States'): {'num_total': 3902, 'filtered_total': 188},
 ('', 'Asunción', 'Paraguay'): {'num_total': 3069, 'filtered_total': 86},
 ('', 'Balearic Islands', 'Spain'): {'num_total': 320, 'filtered_total': 14},
 ('', 'Bali', 'Indonesia'): {'num_total': 897, 'filtered_total': 6},
 ('', 'British Columbia', 'Canada'): {'num_total': 1445,
  'filtered_total': 100},
 ('', 'California', 'United States'): {'num_total': 80613,
  'filtered_total': 4594},
 ('', 'Catalonia', 'Spain'): {'num_total': 2088, 'filtered_total': 18},
 ('', 'Chiapas', 'Mexico'): {'num_total': 2235, 'filtered_total': 71},
 ('', 'Coahuila de Zaragoza', 'Mexico'): {'num_total': 475,
  'filtered_total': 17},
 ('', 'Colorado', 'United States'): {'num_total': 7888, 'filtered_total': 294},
 ('', 'Connecticut', 'United States'): {'num_total': 11776,
  'filtered_total': 778},
 ('', 'Delaware', 'United States'): {'num_total': 2478, 'filtered_total': 83},
 ('', 'Delhi', 'India'): {'num_total': 4396, 'filtered_total': 264},
 ('', 'District of Columbia', 'United States'): {'num_total': 509,
  'filtered_total': 29},
 ('', 'England', 'United Kingdom'): {'num_total': 17190,
  'filtered_total': 928},
 ('', 'Espirito Santo', 'Brazil'): {'num_total': 2531, 'filtered_total': 83},
 ('', 'Florida', 'United States'): {'num_total': 83447,
  'filtered_total': 6091},
 ('', 'Georgia', 'United States'): {'num_total': 13378, 'filtered_total': 762},
 ('', 'Guam', 'United States'): {'num_total': 675, 'filtered_total': 31},
 ('', 'Hawaii', 'United States'): {'num_total': 4265, 'filtered_total': 268},
 ('', 'Himachal Pradesh', 'India'): {'num_total': 64, 'filtered_total': 5},
 ('', 'Idaho', 'United States'): {'num_total': 7931, 'filtered_total': 236},
 ('', 'Illinois', 'United States'): {'num_total': 12121,
  'filtered_total': 780},
 ('', 'Indiana', 'United States'): {'num_total': 4867, 'filtered_total': 232},
 ('', 'Iowa', 'United States'): {'num_total': 4175, 'filtered_total': 213},
 ('', 'Isle of Man', 'United Kingdom'): {'num_total': 102,
  'filtered_total': 4},
 ('', 'Jalisco', 'Mexico'): {'num_total': 502, 'filtered_total': 30},
 ('', 'Jawa Timur', 'Indonesia'): {'num_total': 89},
 ('', 'Kaduna', 'Nigeria'): {'num_total': 486, 'filtered_total': 12},
 ('', 'Kampala', 'Uganda'): {'num_total': 3658, 'filtered_total': 159},
 ('', 'Kansas', 'United States'): {'num_total': 2923, 'filtered_total': 194},
 ('', 'Kentucky', 'United States'): {'num_total': 5346, 'filtered_total': 322},
 ('', 'Kerala', 'India'): {'num_total': 537, 'filtered_total': 12},
 ('', 'La Altagracia', 'Dominican Republic'): {'num_total': 823,
  'filtered_total': 27},
 ('', 'La Paz', 'Bolivia'): {'num_total': 1987, 'filtered_total': 127},
 ('', 'Louisiana', 'United States'): {'num_total': 9866,
  'filtered_total': 475},
 ('', 'Maharashtra', 'India'): {'num_total': 362, 'filtered_total': 13},
 ('', 'Maine', 'United States'): {'num_total': 4280, 'filtered_total': 300},
 ('', 'Manitoba', 'Canada'): {'num_total': 285, 'filtered_total': 10},
 ('', 'Maryland', 'United States'): {'num_total': 14747,
  'filtered_total': 1124},
 ('', 'Massachusetts', 'United States'): {'num_total': 11472,
  'filtered_total': 580},
 ('', 'Melaka', 'Malaysia'): {'num_total': 322, 'filtered_total': 2},
 ('', 'Mexico', 'Mexico'): {'num_total': 740, 'filtered_total': 39},
 ('', 'Michigan', 'United States'): {'num_total': 16044,
  'filtered_total': 1122},
 ('', 'Minas Gerais', 'Brazil'): {'num_total': 19156, 'filtered_total': 181},
 ('', 'Minnesota', 'United States'): {'num_total': 8938,
  'filtered_total': 407},
 ('', 'Mississippi', 'United States'): {'num_total': 2927,
  'filtered_total': 97},
 ('', 'Missouri', 'United States'): {'num_total': 6468, 'filtered_total': 375},
 ('', 'Montana', 'United States'): {'num_total': 2277, 'filtered_total': 97},
 ('', 'Nevada', 'United States'): {'num_total': 5708, 'filtered_total': 283},
 ('', 'New Brunswick', 'Canada'): {'num_total': 267, 'filtered_total': 10},
 ('', 'New Hampshire', 'United States'): {'num_total': 3595,
  'filtered_total': 283},
 ('', 'New Jersey', 'United States'): {'num_total': 29495,
  'filtered_total': 1575},
 ('', 'New Mexico', 'United States'): {'num_total': 1772,
  'filtered_total': 158},
 ('', 'New South Wales', 'Australia'): {'num_total': 486,
  'filtered_total': 22},
 ('', 'New York', 'United States'): {'num_total': 91737,
  'filtered_total': 7201},
 ('', 'North Carolina', 'United States'): {'num_total': 12098,
  'filtered_total': 884},
 ('', 'North Dakota', 'United States'): {'num_total': 958,
  'filtered_total': 53},
 ('', 'North Sulawesi', 'Indonesia'): {'num_total': 14, 'filtered_total': 2},
 ('', 'Oaxaca', 'Mexico'): {'num_total': 2708, 'filtered_total': 57},
 ('', 'Ohio', 'United States'): {'num_total': 18752, 'filtered_total': 913},
 ('', 'Oklahoma', 'United States'): {'num_total': 3470, 'filtered_total': 224},
 ('', 'Ontario', 'Canada'): {'num_total': 3784, 'filtered_total': 172},
 ('', 'Oregon', 'United States'): {'num_total': 7135, 'filtered_total': 299},
 ('', 'Pahang', 'Malaysia'): {'num_total': 238},
 ('', 'Penang', 'Malaysia'): {'num_total': 759, 'filtered_total': 13},
 ('', 'Pennsylvania', 'United States'): {'num_total': 37149,
  'filtered_total': 1681},
 ('', 'Pernambuco', 'Brazil'): {'num_total': 1532, 'filtered_total': 34},
 ('', 'Pichincha', 'Ecuador'): {'num_total': 7047, 'filtered_total': 186},
 ('', 'Prague', 'Czech Republic'): {'num_total': 603, 'filtered_total': 24},
 ('', 'Puerto Rico', 'United States'): {'num_total': 31251,
  'filtered_total': 1266},
 ('', 'Punjab', 'India'): {'num_total': 215, 'filtered_total': 13},
 ('', 'Punjab', 'Pakistan'): {'num_total': 1378, 'filtered_total': 172},
 ('', 'Queensland', 'Australia'): {'num_total': 1335, 'filtered_total': 116},
 ('', 'Rhode Island', 'United States'): {'num_total': 1912,
  'filtered_total': 68},
 ('', 'Sabah', 'Malaysia'): {'num_total': 694, 'filtered_total': 1},
 ('', 'Salta', 'Argentina'): {'num_total': 5811, 'filtered_total': 415},
 ('', 'San Jose', 'Costa Rica'): {'num_total': 2465, 'filtered_total': 128},
 ('', 'Santa Catarina', 'Brazil'): {'num_total': 2688, 'filtered_total': 33},
 ('', 'Sarawak', 'Malaysia'): {'num_total': 683, 'filtered_total': 42},
 ('', 'Scotland', 'United Kingdom'): {'num_total': 2430, 'filtered_total': 80},
 ('', 'Sindh', 'Pakistan'): {'num_total': 110, 'filtered_total': 2},
 ('', 'Sonora', 'Mexico'): {'num_total': 259, 'filtered_total': 10},
 ('', 'South Carolina', 'United States'): {'num_total': 12833,
  'filtered_total': 499},
 ('', 'South Dakota', 'United States'): {'num_total': 817,
  'filtered_total': 70},
 ('', 'Tamil Nadu', 'India'): {'num_total': 156, 'filtered_total': 1},
 ('', 'Tennessee', 'United States'): {'num_total': 7032,
  'filtered_total': 566},
 ('', 'Texas', 'United States'): {'num_total': 33781, 'filtered_total': 2586},
 ('', 'US Virgin Islands', 'United States'): {'num_total': 1042,
  'filtered_total': 80},
 ('', 'Utah', 'United States'): {'num_total': 7136, 'filtered_total': 214},
 ('', 'Valparaiso', 'Chile'): {'num_total': 858, 'filtered_total': 40},
 ('', 'Vermont', 'United States'): {'num_total': 1764, 'filtered_total': 89},
 ('', 'Victoria', 'Australia'): {'num_total': 519, 'filtered_total': 16},
 ('', 'Virginia', 'United States'): {'num_total': 18395,
  'filtered_total': 1221},
 ('', 'Wales', 'United Kingdom'): {'num_total': 1722, 'filtered_total': 109},
 ('', 'Washington', 'United States'): {'num_total': 700, 'filtered_total': 54},
 ('', 'Wellington', 'New Zealand'): {'num_total': 228, 'filtered_total': 2},
 ('', 'West Java', 'Indonesia'): {'num_total': 560},
 ('', 'West Virginia', 'United States'): {'num_total': 1882,
  'filtered_total': 78},
 ('', 'Wisconsin', 'United States'): {'num_total': 16658,
  'filtered_total': 1071},
 ('', 'Wyoming', 'United States'): {'num_total': 1516, 'filtered_total': 55},
 ('Abilene', 'Texas', 'United States'): {'num_total': 358,
  'filtered_total': 38},
 ('Abingdon', 'Maryland', 'United States'): {'num_total': 22,
  'filtered_total': 1},
 ('Abu Dhabi', '', 'United Arab Emirates'): {'num_total': 1067,
  'filtered_total': 70},
 ('Abuja', 'Federal Capital Territory', 'Nigeria'): {'num_total': 11455,
  'filtered_total': 889},
 ('Accra', 'Greater Accra', 'Ghana'): {'num_total': 3449,
  'filtered_total': 173},
 ('Addis Ababa', 'Addis Ababa', 'Ethiopia'): {'num_total': 388,
  'filtered_total': 20},
 ('Adelaide', 'South Australia', 'Australia'): {'num_total': 1509,
  'filtered_total': 81},
 ('Agawam', 'Massachusetts', 'United States'): {'num_total': 65,
  'filtered_total': 7},
 ('Aguascalientes', 'Aguascalientes', 'Mexico'): {'num_total': 145,
  'filtered_total': 10},
 ('Aiken', 'South Carolina', 'United States'): {'num_total': 101,
  'filtered_total': 11},
 ('Akron', 'Ohio', 'United States'): {'num_total': 1021, 'filtered_total': 53},
 ('Albany', 'New York', 'United States'): {'num_total': 1719,
  'filtered_total': 120},
 ('Albuquerque', 'New Mexico', 'United States'): {'num_total': 3613,
  'filtered_total': 243},
 ('Alexandria', 'Al Iskandariyah', 'Egypt'): {'num_total': 1111,
  'filtered_total': 13},
 ('Alexandria', 'Virginia', 'United States'): {'num_total': 4722,
  'filtered_total': 364},
 ('Allendale', 'Michigan', 'United States'): {'num_total': 37,
  'filtered_total': 3},
 ('Allentown', 'Pennsylvania', 'United States'): {'num_total': 528,
  'filtered_total': 38},
 ('Alpharetta', 'Georgia', 'United States'): {'num_total': 1396,
  'filtered_total': 168},
 ('Amarillo', 'Texas', 'United States'): {'num_total': 589,
  'filtered_total': 46},
 ('Anaheim', 'California', 'United States'): {'num_total': 625,
  'filtered_total': 34},
 ('Anchorage', 'Alaska', 'United States'): {'num_total': 1493,
  'filtered_total': 76},
 ('Angleton', 'Texas', 'United States'): {'num_total': 54,
  'filtered_total': 4},
 ('Ann Arbor', 'Michigan', 'United States'): {'num_total': 2474,
  'filtered_total': 111},
 ('Annandale', 'Virginia', 'United States'): {'num_total': 395,
  'filtered_total': 30},
 ('Annapolis', 'Maryland', 'United States'): {'num_total': 778,
  'filtered_total': 61},
 ('Ansonia', 'Connecticut', 'United States'): {'num_total': 17},
 ('Antioch', 'Tennessee', 'United States'): {'num_total': 282,
  'filtered_total': 2},
 ('Apopka', 'Florida', 'United States'): {'num_total': 75,
  'filtered_total': 10},
 ('Appleton', 'Wisconsin', 'United States'): {'num_total': 1356,
  'filtered_total': 217},
 ('Ardmore', 'Oklahoma', 'United States'): {'num_total': 15,
  'filtered_total': 3},
 ('Arlington', 'Texas', 'United States'): {'num_total': 1722,
  'filtered_total': 162},
 ('Arlington', 'Virginia', 'United States'): {'num_total': 3373,
  'filtered_total': 223},
 ('Arlington Heights', 'Illinois', 'United States'): {'num_total': 125,
  'filtered_total': 10},
 ('Arvada', 'Colorado', 'United States'): {'num_total': 158,
  'filtered_total': 8},
 ('Ashburn', 'Georgia', 'United States'): {'num_total': 11,
  'filtered_total': 2},
 ('Asheville', 'North Carolina', 'United States'): {'num_total': 826,
  'filtered_total': 56},
 ('Ashland', 'Oregon', 'United States'): {'num_total': 128,
  'filtered_total': 14},
 ('Aspen', 'Colorado', 'United States'): {'num_total': 146,
  'filtered_total': 12},
 ('Athens', 'Alabama', 'United States'): {'num_total': 116,
  'filtered_total': 10},
 ('Athens', 'Georgia', 'United States'): {'num_total': 1638,
  'filtered_total': 67},
 ('Athens', 'Ohio', 'United States'): {'num_total': 381, 'filtered_total': 14},
 ('Atlanta', 'Georgia', 'United States'): {'num_total': 42369,
  'filtered_total': 3812},
 ('Atlantic City', 'New Jersey', 'United States'): {'num_total': 220,
  'filtered_total': 9},
 ('Auburn', 'Alabama', 'United States'): {'num_total': 289,
  'filtered_total': 8},
 ('Auckland', 'Auckland', 'New Zealand'): {'num_total': 1397,
  'filtered_total': 89},
 ('Augusta', 'Georgia', 'United States'): {'num_total': 863,
  'filtered_total': 70},
 ('Augusta', 'Maine', 'United States'): {'num_total': 284,
  'filtered_total': 25},
 ('Aurora', 'Colorado', 'United States'): {'num_total': 659,
  'filtered_total': 32},
 ('Aurora', 'Illinois', 'United States'): {'num_total': 163,
  'filtered_total': 3},
 ('Austin', 'Texas', 'United States'): {'num_total': 19355,
  'filtered_total': 1332},
 ('Avalon', 'California', 'United States'): {'num_total': 42},
 ('Bainbridge Island', 'Washington', 'United States'): {'num_total': 201,
  'filtered_total': 1},
 ('Baltimore', 'Maryland', 'United States'): {'num_total': 15447,
  'filtered_total': 908},
 ('Bandung', 'West Java', 'Indonesia'): {'num_total': 8927,
  'filtered_total': 131},
 ('Bang Phli', 'Samut Prakan', 'Thailand'): {'num_total': 317,
  'filtered_total': 3},
 ('Bangalore', 'Karnataka', 'India'): {'num_total': 7130,
  'filtered_total': 469},
 ('Bangkok', 'Bangkok', 'Thailand'): {'num_total': 5748,
  'filtered_total': 119},

In [7]:
final_df = pd.DataFrame(columns=['city', 'state', 'country', 'total_tweets', 
                                 'filtered_tweets', 'percentage'])
index = 0
for col in data:
    try:
        total_tweets = data[col]['num_total']
    except KeyError:
        continue
        
    try:
        filtered_tweets = data[col]['filtered_total']
    except KeyError:
        filtered_tweets = 0
        
    percentage = filtered_tweets/total_tweets * 100
    final_df.loc[index] = [col[0], col[1], col[2], total_tweets, filtered_tweets,
                          percentage]
    index += 1

In [8]:
final_df.to_csv("final_df.csv")

In [9]:
print(final_df.shape)
final_df.head()

(4762, 6)

  city state      country total_tweets filtered_tweets  percentage
0             Afghanistan          202              11    5.445545
1                 Algeria          696               9    1.293103
2               Argentina        51622            2520    4.881640
3               Australia        17577             959    5.455994
4              Bangladesh         3247             209    6.436711

In [27]:
final_df[final_df['total_tweets'] >= 1000][final_df['percentage'] >= 10]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,city,state,country,total_tweets,filtered_tweets,percentage
178,,Punjab,Pakistan,1378,172,12.481858
224,Alpharetta,Georgia,United States,1396,168,12.034384
235,Appleton,Wisconsin,United States,1356,217,16.002950
370,Charleston,South Carolina,United States,2918,354,12.131597
405,Compton,California,United States,1361,232,17.046289
410,Coral Gables,Florida,United States,1652,243,14.709443
495,Fort Lauderdale,Florida,United States,5301,531,10.016978
496,Fort Myers,Florida,United States,1138,125,10.984183
538,Greenville,South Carolina,United States,1055,110,10.426540
599,Jacksonville,Florida,United States,6268,677,10.800893
650,Lancaster,California,United States,1116,250,22.401434
684,Lubbock,Texas,United States,1340,157,11.716418
715,Miami Beach,Florida,United States,6767,870,12.856510
794,Omaha,Nebraska,United States,2284,232,10.157618
804,Oxford,Alabama,United States,1625,237,14.584615
856,Providence,Rhode Island,United States,3487,1194,34.241468
1000,Toledo,Ohio,United States,1091,111,10.174152
1060,White Plains,New York,United States,1332,175,13.138138
1087,Avellaneda,,Argentina,1012,122,12.055336

In [15]:
print(final_df['filtered_tweets'].sum())
print(final_df['total_tweets'].sum())

277758
5492487

In [16]:
print("Total percentage: {:.2f}%".format(final_df['filtered_tweets'].sum()/final_df['total_tweets'].sum()*100))

Total percentage: 5.06%